@keyframes fadeInAnimation {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --mainColorOrange: #e16a00;
  --mainColorHover: #e97c1d;
}

#books {
  display: flex;
  flex-wrap: wrap;
}
.card {
  cursor: pointer;
  padding: 0px;
  width: 20%;
  padding: 2px;
  margin-right: 55px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
  border: none;
}

.card-body {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  color: #fff;
  animation: 1s ease;
}

.read-more-btn {
  background-color: var(--mainColorOrange);
}
.read-more-btn:hover {
  background-color: var(--mainColorHover);
}
.card:hover .card-body {
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--mainColorHover);
}
/* Remove Datalist Dropdown Arrow  */
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
