html,
body {
  background-color: #fff;
}

.items,
.fantastics {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px;
  border: 1px solid #999;
}

.slick-list {
  margin-top: 100px !important;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-next {
  width: 50px;
  height: 50px;
}

.slick-prev {
  width: 50px;
  height: 50px;
}

.slick-prev:before {
  content: url("/assets/images/left.png") !important;
  margin-left: -50px;
}

.slick-next:before {
  content: url("/assets/images/right.png") !important;
  margin-right: -20px;
}

.type-list {
  margin-left: 15em;
}

.type-list li:not(:first-child) {
  margin-left: 20px;
}

.type-list a {
  text-decoration: none;
}

.type-list a:hover {
  transition: 1s ease all;
  font-weight: 500;
}

.read-more {
  background-color: #e16a00;
}

.read-more:hover {
  transition: 1s ease all;
  opacity: 0.8;
  background-color: #e16a00 !important;
}
