html,
body {
    background-color: #FFF
}

.items,
.fantastics {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
    border: 1px solid #999;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
}

.slick-next {
    width: 50px;
    height: 50px;
    background-color: black;
}

.slick-prev {
    width: 50px;
    height: 50px;
    background-color: black;
}