@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@keyframes fadeInAnimation {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --mainColorText: #241400;
    --mainColorHome: #391f00;
    --mainColorOrange: #e16a00;
    --fontRoboto: "Roboto", sans-serif;
    --fontMontserrat: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    border: none !important;
}

.btn-lg {
    border: none !important;
}

#navbarNav ul li a {
    font-weight: 500;
}

#navbarNav ul li a:hover {
    transition: 1s ease all;
    opacity: 0.8;
    color: #E16A00 !important;
}

body {
    font-family: var(--fontMontserrat);
    animation: fadeInAnimation ease 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.text-main {
    color: var(--mainColorText);
}

.footer-info {
    background-color: var(--mainColorHome);
}

.join-span {
    font-family: var(--fontRoboto);
}

::-webkit-scrollbar {
    width: 6px;
    height: 5px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--mainColorText);
    border-radius: 10px;
}

.join-div {
    padding: 0px;
}

.join-div button {
    padding: 0px;
    width: 4rem;
    display: flex;
    align-items: center;
}

.join-div span {
    font-size: 18px;
}

.join-div img {
    width: 18px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.icon {
    width: 20%;
    cursor: pointer;
}

.icon img {
    width: 75%;
}


/* Only Catalog, About store and Contact Us sections*/

@media screen and (max-width: 992px) {
    .navbar-toggler {
        margin-left: auto;
    }
    .join-div,
    .join-div span,
    .join-div button {
        padding: 0 !important;
        margin: 3.2px 0 !important;
        font-family: var(--fontMontserrat);
    }
    .join-div img {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .icons {
        justify-content: space-between;
    }
    .icon {
        width: 30%;
    }
}

.slick-prev,
.slick-next {
    background-color: black;
}

.type-list {
    margin-left: 15em;
}

.type-list li:not(:first-child) {
    margin-left: 20px;
}

.type-list a {
    text-decoration: none;
}

.type-list a:hover {
    transition: 1s ease all;
    font-weight: 500;
}

.read-more {
    background-color: #E16A00
}

.read-more:hover {
    transition: 1s ease all;
    opacity: 0.8;
    background-color: #e16a00 !important;
}